.signup {
  width: 300px;
 
  margin: 50px auto;
  padding: 20px;
}

.signup-form {
  display: flex;
  
  flex-direction: column;
 
}

.signup-form label {
  margin-bottom: 5px;
  display: block;

}

.signup-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.signup-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Home{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

}
.home-img{
 display: flex;
 justify-content: start;
}

.form{
  margin-left: 200px;

}
