.signup {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: solid 1px #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: -webkit-linear-gradient(top, #c1ebea, #f27a6a);
  

}

.signup-form {
  display: flex;
  flex-direction: column;
 
}

.signup-form label {
  margin-bottom: 5px;
  display: block;

}

.signup-form input {
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;

}

.signup-form button {
background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
}
.signup-btn{
  height: 40px;
  width: 100px;
}

.login-btn{
  height: 40px;
    width: 100px;
}
.Home{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;


}
.home-img img{
 display: flex;
 justify-content: start;
 width:700px;
 height: 100vh;
 max-height: 912px;
 max-width: 100%;
 
 
}


.form{
  margin-left: 150px;

}

.google-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 300px;
    height: 45px;
    font: 600;
      font-size: 19px;
      font: bold;
      cursor: pointer;
}
.google-login{

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btns{
  display: flex;
  gap: 100px;
  justify-content: center;
}
.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
.signup-head{
  text-align: center;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #000;
}

.or-text {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}



/* main home */
nav{
  background: -webkit-linear-gradient(right, #c1ebea, #f27a6a);
  width: 100% auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.navbar-left{
  padding-left: 30px;

}

.welcome-text{
  color: rgb(31, 26, 26);
  font: 800;
  font-size: 28px;
  font-weight: 900;
}


.dropdown-menu{
  background-color: #ccc;
  height: 150px;
  position: absolute;
  width: 180px;
    top: 94px;
    right: 20px;
    padding: 10px;
    list-style: none;
    text-align: center;
    line-height: 3rem;
    border: 1px solid #ccc;
border-bottom-left-radius: 50px 20px;
border-bottom-right-radius: 50px 20px;

}


.navbar-right img{
  position: absolute;
  right: 40px;
top:40px;
cursor: pointer;
}
.link{
 text-decoration: none;
 font-size: 16px;
}
/* profile */

.profile {
  /* Style the overall profile container */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 400px;
  /* Adjust width as needed */
}

.profile-picture-input {
  /* Style the profile picture input */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

.name-bio,
.email,
.project {
  /* Style each section (name-bio, email, project) */
  margin-bottom: 15px;
}

.name-input,
.bio-input,
.email-input,
.project-title-input {
  /* Style all text input fields */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
}

.description-textarea {
  /* Style the description textarea */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 100px;
}

.save-button {
  /* Style the save button */
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.save-button:hover {
  background-color: #45a049;
  /* Green hover */
}
.profile-picture-input {
  /* Style the profile picture input */
  margin-bottom: 10px;
  border: none;
  /* Remove default border */
  padding: 30px;
  /* Adjust padding for content */
  border-radius: 70%;
  /* Make it a circle */
  background-color: #f1f1f1;
  /* Light background */
  cursor: pointer;
  /* Indicate clickable area */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-input:hover {
  background-color: #ddd;
  /* Hover effect */
}

.profile-picture-input input[type="file"] {
  /* Hide the default file input */
  display: none;
}
/* dashboard css */
.search-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:400px;
  margin-top: 20px;

}
.search-div {
 
  display: flex;
  margin: 10px ;
}

.search-input {
 width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  border: 1px solid #007bff;
  
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
 background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.add-blogs {
  text-align: center;
  font: 800;
}

.add-blog-btn {
background-color: black;
color: white;
font: 800;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
}
.add-blog-btn:hover{
  transform: scale(1.2);
  opacity: 0.8;
}
.blog-main{
  background-color: #ccc;
  width: 100%;
  height: auto;
  margin-top: 30px;

 


}
.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor{
  background-color: wheat;
  width: 100%;
  height: 200px;
}
.main-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
}
.card{
  background-color: black;
  color: white;
  width: 300px;
  height: 400px;
}